@import '../../styles/variables';

.button {
    cursor: pointer;    
}

.primary {
    background-color: $default-button;
    &:hover {
        background-color: $default-button-hover;
    }
}

.secondary {
    background-color: $dark-button;
    &:hover {
        background-color: $dark-button-hover;
    }
}

.cancel {
    background: none;
    color: #000;
    opacity: 0.75;
    &:hover { 
        opacity: 1;
        background: none
    }
}