.container {
    padding: 12px 0;
}

.addToken {
    cursor: pointer;
    padding-bottom: 15px;
}

.rowsContainer {
    height: 230px;
    overflow-y: auto;
}

.modalFooter {
    padding-top: 20px;
}
