.container {
    padding: 12px 0;
}

.addToken {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.networkLabel {
    padding-right: 5px;
}

.rowsContainer {
    height: 230px;
    overflow-y: auto;
}

.modalFooter {
    padding-top: 20px;
}
